/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*==================== Variaveis CSS ====================*/
:root{
    /*======== Colors ========*/
    /*Color mode HSL(ahue, saturation, lightness)*/
    --cor-primaria: #026873;
    --cor-secundaria: #025940;
    --cor-terciaria: #03A64A;
    --hover-primaria:#004e57;
    --cor-branca: white;
    --cor-preta: black;
    --cor-titulo: rgb(59, 158, 59);
    --texto-cor: rgb(117, 131, 141);
    --cor-botao: #;
    --contain-cor: hsl(0, 0%, 100%);
    --body-cor: rgb(231, 248, 231);

    /*======== Fontes e Tipografia ========*/
    /*0.5rem = 8px / 1rem = 16px...*/
    --padrao-font: Arial;
    --h2-font:'Poppins';
    --titulo-font: 'montserrat';
    --h2-font-zise: 1.45rem;
    --small-font-size: .813rem;
}

/*==================== Tipografia Resposiva ====================*/
@media screen and (min-width: 1120px){
    :root{
        --h2-font-size: 2.5rem;
        --font-header: 1.2rem;
        --smal-font-size: .875rem;
    }
}

/*==================== Base ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg , var(--cor-terciaria) , var(--cor-secundaria),  var(--cor-primaria));
    color: var(--texto-cor);
    padding: 0; /* Adicionado */
    padding-top: 80px; /* altura da navbar */
}

h1{
    font-family: var(--titulo-font);
}

h2{
    font-family: var(--h2-font);
}

p{
    font-family: var(--padrao-font);
}
/*==================== Header ====================*/
header {
    position: fixed;
    padding: 5px;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: rgba(240, 239, 239, 0.6);
    backdrop-filter: blur(10px);
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
}

li > a {
    color: transparent;
    background: linear-gradient(to right, var(--cor-primaria) , var(--cor-secundaria));
    background-clip: text;
    text-decoration: none;
    font-family: var(--h2-font);
    font-size: var(--font-header);
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
}



li > a::after{
    content: '';
    position: absolute;
    transition: 0.3s;
    background: linear-gradient(to right, var(--cor-primaria) , var(--cor-terciaria));
    border-radius: 2px;
    height: 4px;
    width: 0%;
    bottom: 0;
    left: 10px;
}

li > a:hover::after{
    width: 90%;
}

/*========Logo========*/

#logo-header {
    display: inline-block;
    align-items: center;
}

.logo {
    background-image: url('../img/Logo.png');
    background-size: contain; /* Mantenha o tamanho proporcional */
    background-repeat: no-repeat;
    width: 200px; /* Aumente a largura */
    height: 100px; /* Aumente a altura */
    border-radius: 50%;
}

/*==================== Banner ====================*/
.banner {
    background-image: url('../img/Sobre/banner_da_pg.png');
    background-size: contain;  /* mostra a imagem inteira */
    background-repeat: no-repeat; /* evita repetição */
    background-position: center; /* centraliza a imagem */
    width: 100%;
    height: 80vh; /* altura ajustável */
    position: relative;
    margin-bottom: 20px;
    background-color: #f8f8f8; /* cor de fundo neutra para preencher as faixas */
}

/*==================== Blocos Estilo FAQ ====================*/
/*==================== Sobre ====================*/
.sobre-container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.texto {
    flex: 1;
    max-width: 325px;
    padding: 20px;
    line-height: 20px;
    background-color: var(--body-cor);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.imagem_sobre img {
    max-width: 325px;
    width: 325px;
    height: 233px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


/* Responsivo */
@media (max-width: 768px) {
    .sobre-container
     {
        flex-direction: column;
        text-align: center;
    }

    .imagem_sobre img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}

/*==================== Nossa Empresa ====================*/
.Nossa_Empresa_container_invertido {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    flex-direction: row-reverse;
}

.texto {
    flex: 1;
    max-width: 325px;
    padding: 20px;
    line-height: 20px;
    background-color: var(--body-cor);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.Nossa_Empresa_imagem img {
    max-width: 325px;
    width: 325px;
    height: 233px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}



/* Responsivo */
@media (max-width: 768px) {
    .Nossa_Empresa_container_invertido {
        flex-direction: column;
        text-align: center;
    }

    .Nossa_Empresa_imagem img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}
/*==================== Problema ====================*/
.Problema-container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.texto {
    flex: 1;
    max-width: 325px;
    padding: 20px;
    line-height: 20px;
    background-color: var(--body-cor);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.Problema_imagem img {
    max-width: 325px;
    width: 325px;
    height: 233px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


/* Responsivo */
@media (max-width: 768px) {
    .Problema-conteiner {
        flex-direction: column;
        text-align: center;
    }

    .img_Problema img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}
/*==================== Causa ====================*/
#causa {
    max-width: 325px;
    padding: 20px;
    line-height: 20px;
    margin: 45px;
    background-color: var(--body-cor);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    margin-top: 20px;
    

    display: flex;
    margin-left: auto; /* empurra o bloco para a direita */
}
/*==================== Solução/Nossa Ideia ====================*/
#solucao {
    max-width: 325px;
    margin: 45px;
    padding: 20px;
    line-height: 20px;
    background-color: var(--body-cor);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: left;
    justify-items: left;

    display: flex; 
    margin-right: auto; /* empurra o bloco para a esquerda */
}

/*==================== explicacao ====================*/
#explicacao {
    max-width: 325px;
    padding: 20px;
    line-height: 20px;
    margin: 45px;
    background-color: var(--body-cor);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    margin-top: 20px;

    display: flex;
    margin-left: auto; /* empurra o bloco para a direita */
}