/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*==================== Variaveis CSS ====================*/
:root{
    /*======== Colors ========*/
    /*Color mode HSL(ahue, saturation, lightness)*/
    --cor-primaria: #249E20;
    --cor-secundaria: #599E1F;
    --cor-terciaria: #8D9E20;
    --cor-branca: white;
    --cor-preta: black;
    --cor-titulo: darkgreen;
    --texto-cor: rgb(4, 32, 1);
    --cor-botao: #;
    --contain-cor: hsl(0, 0%, 100%);
    --body-cor: rgb(231, 248, 231);

    /*======== Fontes e Tipografia ========*/
    /*0.5rem = 8px / 1rem = 16px...*/
    --padrao-font: Arial;
    --h2-font:'Poppins';
    --titulo-font: 'montserrat';
    --h2-font-zise: 1.45rem;
    --small-font-size: .813rem;
}

/*==================== Tipografia Resposiva ====================*/
@media screen and (min-width: 1120px){
    :root{
        --h2-font-size: 2.5rem;
        --font-header: 1.2rem;
        --smal-font-size: .875rem;
    }
}

/*==================== Base ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Opens-Sans';
    background-color: var(--padrao-font);
    color: var(--texto-cor);
    padding: 0; /* Adicionado */
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
/*==================== Header ====================*/
header {
    position: fixed;
    padding: 5px;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
}

li > a {
    color: transparent;
    background: linear-gradient(to right, var(--cor-primaria) , var(--cor-secundaria));
    background-clip: text;
    text-decoration: none;
    font-family: var(--h2-font);
    font-size: var(--font-header);
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
}



li > a::after{
    content: '';
    position: absolute;
    transition: 0.3s;
    background: linear-gradient(to right, var(--cor-primaria) , var(--cor-terciaria));
    border-radius: 2px;
    height: 4px;
    width: 0%;
    bottom: 0;
    left: 10px;
}

li > a:hover::after{
    width: 90%;
}

/*========Logo========*/

#logo-header {
    display: inline-block;
    align-items: center;
}

.logo {
    background-image: url('../img/Logo.png');
    background-size: contain; /* Mantenha o tamanho proporcional */
    background-repeat: no-repeat;
    width: 200px; /* Aumente a largura */
    height: 100px; /* Aumente a altura */
    border-radius: 50%;
}

/*==================== Banner Impactante ====================*/
#banner__impactante{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Parte de texto*/

#Separador_do_texto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#text__banner{
    width: 80%;
}

#text__banner > h1{
    font-size: 7rem;
    margin-bottom: 0.7rem;
    background: linear-gradient(to right, var(--cor-primaria) , var(--cor-secundaria));
    background-clip: text;
    color: transparent;
}

#text__banner > h2{
    font-size: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 5rem;
    background: linear-gradient(to left, var(--cor-terciaria) 60%, var(--cor-secundaria));
    background-clip: text;
    color: transparent;
    position: relative;
}
#text__banner > h2::after{
    content: '';
    position: absolute;
    background: var(--cor-terciaria);
    border-radius: 2px;
    bottom: 0;
    left: 0;
    width: 96%;
    height: 5px;
}

#part2__text__banner{
    font-size: 1.1rem;
}

#part2__text__banner > h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 70px;
}

#part2__text__banner > p{
    display: flex;
    font-size: 1.2rem;
    gap: 20px;
}

#part2__text__banner > p > i{
    background: radial-gradient(circle, var(--cor-primaria) , var(--cor-secundaria) , var(--cor-terciaria));
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}

/*Parte da imagem*/

#Separador_da_imagem{
    position: relative;
    z-index: -1;
    width: 50%;
    height: 100%;
}

#img__banner{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 4px;
    border-radius: 10px 0px 0px 10px;
    background-color: antiquewhite;
    background-image: url('https://pfst.cf2.poecdn.net/base/image/e08085ae4d2f7947d4496b0725faa58c98d0f54948549aa675ba66a1164dce96?w=1024&h=768&pmaid=449690332');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*==================== Resumo-dos-Problemas ====================*/
#resumo__problema{
    width: 100%;
    height: 120vh;
    background: var(--cor-primaria);
    text-align: center;
    color: white;
}

#resumo__problema > h1{
    font-family: var(--titulo-font);
    padding-top: 2rem;
    font-size: 3rem;
}

#Problemas{
    padding: 8rem;
    gap: 30px;
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

.problema{
    text-align: left;
    width: 25vw;
    height: 44vh;
    padding: 40px;
    padding-left: 10px;
    background: var(--cor-branca);
    color: black;
    border: 5px ridge white;
    border-radius: 10px;
    position: relative;
    gap: 10px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2);
    box-shadow: -10px -10px -10px white;
    object-fit: cover;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.problema:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.05);
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
}

.problema::after{
    content: '';
    position: absolute;
    background: linear-gradient(135deg , white, #f9f9f9);
}

.problema > i{
    display: flex;
    align-items: center;
    font-size: 3rem;
    background: radial-gradient(circle, var(--cor-primaria), var(--cor-secundaria), var(--cor-terciaria));
    background-clip: text;
    color: transparent;
}

.text_problema > h1{
    font-family: var(--titulo-font);
    padding-bottom: 7px;
    font-size: 2rem;
}

.text_problema > p{
    font-family: var(--padrao-font);
    font-size: 1.2rem;
}

.text_problema button{
    width: 100px;
    height: 40px;
    color: white;
    background-color: var(--cor-primaria);
    opacity: 0;
    border: 5px solid var(--cor-primaria);
    font-weight: bold;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 15px;
    transition: 1s;
}


.problema:hover .text_problema button {
    opacity: 1;
}






/*==================== Breakpoints ====================*/
/*For small devices*/



/*For medium devices*/



/*For large devices*/


/*==================== Avaliações ====================*/
.avaliacoes{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.avalidor__swiper{
    max-width: 1120px;
    margin-inline: 1.5rem;
    padding-bottom: 7rem;
}

.avaliacoes__titulo{
    font-size: var(--h2-font-size);
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.avaliador__card{
    width: 280px;
    background-color: var(--contain-cor);
    box-shadow: 0 8px 16px hsla(265, 75%, 4%, .1);
    padding: 2rem 1.5rem 3rem;
    border-radius: 1.5rem;
    text-align: center;
}

.avaliador__img{
    width: 100px;
    height: 120px;
    border-radius: 4rem;
    border: 4px solid var(--cor-primaria);
    margin: 0 auto .5rem;
}

.avaliador__name{
    font-size: var(--h3-font-size);
    margin-bottom: 2rem;
}

.avaliador__rating{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: .75rem;
}

.avaliador__stars{
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.avaliador__stars i {
    font-size: 1rem;
    color: orange;
}

.avaliador__number{
    font-size: var(--h3-font-size);
}

/*============== Swipper Class ==============*/
.avaliador__swiper .swiper-pagination-bullets{
    bottom: 4rem;
}

.avaliador__swiper .swiper-pagination-bullet{
    background-color: var(--cor-primaria);
    transition: opacity .4s;
}

.avaliador__swiper .swiper-button-prev{
    left: calc(50% - 3rem);
}

.avaliador__swiper .swiper-button-next{
    right: calc(50% - 3rem);
}

.avaliador__swiper .swiper-button-prev::after,
.avaliador__swiper .swiper-button-next::after{
    content: '';
}

.avaliador__swiper :is(.swiper-button-prev, .swiper-button-next){
    top: initial;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--cor-primaria);
    color: white;
    border-radius: 50%;
    font-size: 1.5rem;
}

/*==================== Breakpoints ====================*/
/*For small devices*/
@media screen and (max-width: 300px){
    .avaliador_titulo{
        font-size: 1.25rem;
    }

    .avaliador__card{
        width: 240px;
        padding-inline: 1rem;
    }
}

/*For medium devices*/
@media screen and (min-width: 640px){
    .avalidor__swiper{
        max-width: 640px;
    }
}

/*For large devices*/
@media screen and (min-width: 1150px){
    .avalidor__swiper{
        max-width: 760px;
    }

    .avaliador__title{
        margin-bottom: 4rem;
    }

    .avaliador__card{
        width: 330px;
        padding: 3rem 2rem 4rem;
        border-radius: 2rem;
    }

    .avaliador__number{
        font-size: var(--padrao-font);
    }
}