/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*==================== Variaveis CSS ====================*/
:root {
    /*======== Colors ========*/
    /*Color mode HSL(ahue, saturation, lightness)*/
    --cor-primaria: #026873;
    --cor-secundaria: #025940;
    --cor-terciaria: #03A64A;
    --hover-primaria: #004e57;
    --cor-branca: white;
    --cor-preta: black;
    --cor-titulo: rgb(59, 158, 59);
    --texto-cor: rgb(117, 131, 141);
    --cor-botao: #;
    --contain-cor: hsl(0, 0%, 100%);
    --body-cor: rgb(231, 248, 231);

    /*======== Fontes e Tipografia ========*/
    /*0.5rem = 8px / 1rem = 16px...*/
    --padrao-font: Arial;
    --h2-font: 'Poppins';
    --titulo-font: 'montserrat';
    --h2-font-zise: 1.45rem;
    --small-font-size: .813rem;
}

/*==================== Tipografia Resposiva ====================*/
@media screen and (min-width: 1120px) {
    :root {
        --h2-font-size: 2.5rem;
        --font-header: 1.2rem;
        --smal-font-size: .875rem;
    }
}

/*==================== Base ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, var(--cor-terciaria), var(--cor-secundaria), var(--cor-primaria));
    color: var(--texto-cor);
    padding: 0;
    /* Adicionado */
}

h1 {
    font-family: var(--titulo-font);
}

h2 {
    font-family: var(--h2-font);
}

p {
    font-family: var(--padrao-font);
}

/*==================== Header ====================*/
header {
    position: fixed;
    padding: 5px;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: rgba(240, 239, 239, 0.6);
    backdrop-filter: blur(10px);
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
}

li>a {
    color: transparent;
    background: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
    background-clip: text;
    text-decoration: none;
    font-family: var(--h2-font);
    font-size: var(--font-header);
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
}



li>a::after {
    content: '';
    position: absolute;
    transition: 0.3s;
    background: linear-gradient(to right, var(--cor-primaria), var(--cor-terciaria));
    border-radius: 2px;
    height: 4px;
    width: 0%;
    bottom: 0;
    left: 10px;
}

li>a:hover::after {
    width: 90%;
}

/*========Logo========*/

#logo-header {
    display: inline-block;
    align-items: center;
}

.logo {
    background-image: url('../img/Logo.png');
    background-size: contain;
    /* Mantenha o tamanho proporcional */
    background-repeat: no-repeat;
    width: 200px;
    /* Aumente a largura */
    height: 100px;
    /* Aumente a altura */
    border-radius: 50%;
}

/*Lista de Compras*/
#lista {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    gap: 5rem;
}

main {
    width: 100%;
    min-height: 100vh;
}

main > h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 9rem;
    margin-bottom: 2rem;
    color: white;
}

.form_contato {
    width: 350px;
    position: relative;
    background-color: white;
    color: #002e33;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

@property --deg {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

.form_contato::after,
.form_contato::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--deg) at center,
            rgb(10, 196, 124),
            rgb(36, 187, 36),
            rgb(20, 94, 190));
    border-radius: inherit;
    z-index: -2;
    padding: 3px;
    animation: autoRotate 2s linear infinite;
}

.form_contato::after {
    filter: blur(20px);
}

.form_contato h1 {
    margin-bottom: 1rem;
}

.h3_lixo{
    margin: 1rem 0rem;
}

.form_contato img {
    width: 100%;
    height: 175px;
    border-radius: 10px;
}

@keyframes autoRotate {
    to {
        --deg: 360deg;
    }
}

.links {
    width: 96%;
    height: 13vh;

    position: relative;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #f1efef;
    border-radius: 20px;
}

.links > i {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 4px 6px;
    font-size: 3rem;
    background-color: var(--cor-primaria);
    color: white;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.links:hover i {
    transform: scale(1.1);
}

.link_descricao > h3 {
    color: #002e33;
}

.link_descricao > a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.link_descricao > a:hover {
    text-decoration: underline;
    color: var(--cor-primaria);
}

/*==================== Footer ====================*/

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.footer-column {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid #7f8c8d;
    padding-top: 20px;
}

.social-icons a {
    margin-right: 10px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #1abc9c;
  }

.social-icons a:hover {
    color: #1abc9c;
}

ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 20px;
    }